.games_div_container {
    width: 100%;
    height: calc(100% - 65px);
    z-index: -3;
    position: absolute;
    padding: 10px 0 0 10px;

    background: rgb(91,169,241);
    background: linear-gradient(180deg, rgba(91,169,241,1) 72%, rgba(255,255,255,1) 100%);
}

#app {
    float: left;
    padding: 0 0 0 9px;
}
.scoreboard_comp {
    padding: 0 0 8px 0;
}

.lineup_home {
    display: inline-block;
    float: left;
    padding: 0 7px 8px 0;
}

.lineup_away {
    display: inline-block;
    float: left;
    padding: 0 0 8px 0;
}

.event_win {
    display: inline-block;
    float: left;
    padding: 0 7px 0 0;
}

.stats_win {
    clear: both;
}

/* ------------------------- stadium info ------------------------- */
#stadium_info {
    width: 267px;
    height: 530px;
    background-color: white;
    display: inline-block;
    float: left;
    padding: 0 12px 0 20px;
}

