@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* height */
::-webkit-scrollbar {
    height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7dbfc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8fc4f5;
}

.topmenu {
    -webkit-box-shadow: 0 3px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0 3px 13px -2px rgba(0,0,0,0.75);
    height: 65px;
    width: 100%;
    background: #fff;
    z-index: 5;

}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}

.popup {
    color: orange;
}

/* change background and tip color to black */
.popup .mapboxgl-popup-content {
    background-color: black;
}
.popup .mapboxgl-popup-tip {
    border-top-color: black;
}

#map_background {
    height:100vh;
    width:100%; position: absolute;
    top:0;
    z-index: -2;
}

.logo {
    padding: 5px 5px 5px 5px;
}

.container {
    background-color: #ffffff;
    height: 100%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* make all text non selectable */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

nav ul {
    list-style: none;
    position: relative;
}

nav li {
    display: inline-block;
    width: min-content;
    margin-left: 25px;
}

nav li img {
    position: relative;
}

#main_link {
    position: relative;
    top: 0;
    color: #2e7f9d;
    padding: 0 0 0 0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

#main_link:hover {
    top: 3px;
    color: black;
}

nav li:hover {
    text-decoration: none;
    color: #2e7f9d;
}

/* --------------- STADIUM ----------------- */
/* ----------------------------------------- */
#sub_item_stadium {
    border-bottom: solid #c9d466 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_stadium {
    position: absolute;
    top: 55px;
    left: 0;
    visibility: hidden;
    font-size: 10px;
    opacity: 0;
    background-color: #ffffff;
    width: 375px;
    height: auto;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #c9d466 4px;
    padding-bottom: 7px;
}

nav li:hover .menu_sub_stadium {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_stadium li {
    display: block;
    width: 375px;
    margin-left: 0;
    margin-top: 0;
}

#stadium {
    padding-bottom: 7px;
}

.stadium_link {
    padding-top: 10px;
    padding-left: 10px;
    background: white;
    width: inherit;
    height: 60px;
    cursor: pointer;
    transition: padding-left 0.3s ease-in-out;
}

.stadium_link:hover {
    padding-left: 15px;
    /*background-color: #cce3f6;*/
}

.stadium_link a {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.stadium_link p:nth-child(1)
{
    float: left;
    padding-right: 15px
}

.stadium_link p:nth-child(2) {
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #515151;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.stadium_link p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #515151;
    padding-bottom: 5px;
}

.stadium_link p:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #515151;
}
/* --------------------------------------- */

/* --------------- GROUP ----------------- */
/* --------------------------------------- */

#sub_item_groups {
    border-bottom: solid #e58d37 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_groups {
    position: absolute;
    top: 55px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    width: 1170px;
    height: auto;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.menu_sub_groups ul {
    list-style: none;
    display: inline-block;
}

nav li:hover .menu_sub_groups {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_groups li {
    display: inline-block;
    width: 195px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    background-color: #ffffff;
    float: left;
    border-bottom: solid #e58d37 4px;
}

.group_sub {
    background-color: #ffffff;
    width: 195px;
    height: 0;
    margin-top: 7px;
    transition: 0.3s ease-in-out;
    text-overflow: clip;
    overflow: hidden;
}

.group_sub:hover {
    background-color: #e6f3ff;
    padding-top: 10px;
}

.group_sub_wrapper {
    padding: 0 10px 10px 10px;
    cursor: pointer;
}

.group_sub_wrapper p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    line-height: 30px;
}

.group_sub_wrapper img {
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

#group:hover .group_sub {
    height: 155px;
}

#group a{
    color: #515151;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 20px;
    text-decoration: none;
    cursor: default;
}

.group_link {
    width: 195px;
    height: 35px;
    padding: 10px 10px 10px 10px;
}

#group {
    list-style: none;
    float: left;
}


/* --------------- TEAMS ----------------- */
/* --------------------------------------- */

#sub_item_teams {
    border-bottom: solid #c34c26 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_teams {
    position: absolute;
    top: 55px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    width: 235px;
    height: auto;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #c34c26 3px;
}

nav li:hover .menu_sub_teams {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_teams li {
    display: block;
    width: 235px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.menu_sub_teams a {
    text-decoration: none;
}

.team_link {
    padding: 7px 0 0 10px;
    font-family: 'Oswald', sans-serif;
    line-height: 10px;
    font-size: 18px;
    color: #515151;
    text-transform: uppercase;
    background-color: white;
    width: 235px;
    height: 40px;
    transition: 0.2s linear;
    vertical-align: middle;
}

.team_link:hover {
    background-color: #e6f3ff;
    padding: 7px 0 0 16px;
}

.team_link img {
    height: 28px;
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

/* --------------- GAMES ----------------- */
/* --------------------------------------- */

#sub_item_games {
    border-bottom: solid #4cb4e7 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_games {
    position: absolute;
    top: 55px;
    left: 0;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    width: 100%;
    height: 263px;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #4cb4e7 3px;
}

nav li:hover .menu_sub_games {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_games li {
    display: block;
    width: 375px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}


.game_link {
    background: #cccccc;
    width: 375px;
    height: 15px;
}

.calendar_container {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 235px;
    width: 185px;
    padding: 0 3px 0 15px;
    border: solid lightgray;
    border-right-width: 4px;
    border-left-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    margin: 10px 5px 0 0;

}

#calendar_title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 20px;
    color: #515151;
}

.flex-container {
    padding: 0;
    margin-top: 15px;
    width: 170px;
    height: 200px;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrap li {
    width: 23px;
    height: 23px;
    margin: 0 11px 2px 0;
    transition: all 0.3s linear;
}


.flex-item {
    font-size: 14px;
    padding: 0;
    width: 23px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.flex-item-inactive {
    font-size: 14px;
    padding: 0;
    width: 23px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.flex-item-inactive:hover {
    color: lightgray;
}

.flex-item:hover {
    color: #515151;
    background-color: #b5b1b1;
    cursor: pointer;
}

.grey {
    color: lightgray;
    cursor: default;
}

.june{
    color: #c34c26;
}

.june a{
    color: #c34c26;
    text-decoration: none;
}

.july {
    color: #4cb4e7;
}

.games_container {
    margin-left: 7px;
    margin-top: 10px;
    width: auto;
    height: 250px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x;
    overflow-y: hidden;
    white-space: nowrap;
}

.gameday_container {
    background-image: url("../images/polaroid2.png");
    background-color: #a35a33;
    margin-left: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 240px;
    width: max-content;
    white-space: nowrap;
    margin-top: 0;
    margin-right: 4px;
}

.gameday_container li {
    padding-top: 7px;
    width: inherit;
    scroll-snap-align: start;
}

.gameday_three {
    background: rgb(230,243,255);
    background: linear-gradient(180deg, rgba(230,243,255,1) 0%, rgba(255,255,255,1) 100%);
    border-bottom: solid 1px #b7dbfc;
    border-top: solid 1px white;
    border-left-width: 0;
    border-right-width: 0;
    width: auto;
    height: 69px;
    color: #515151;
    padding-top: 19px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gameday_four {
    background: rgb(230,243,255);
    background: linear-gradient(180deg, rgba(230,243,255,1) 0%, rgba(255,255,255,1) 100%);
    border-bottom: solid 1px #b7dbfc;
    border-top: solid 1px white;
    border-left-width: 0;
    border-right-width: 0;
    width: auto;
    vertical-align: top;
    height: 52px;
    color: #515151;
    padding-top:9px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gameday_container li:hover {
    opacity: 1 !important;
    background: rgb(230,243,255);
    color: #515151;
}

.gameday_container li span {
    float: left;
}

.gameday_date {
    border: solid 1px;
    border-bottom-color: #b7dbfc;
    border-top-width: 0;
    border-left-width: 0;
    border-right: 0;
    padding: 7px 0 10px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}

#gameday_time {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 7px;
    margin-right: 7px;
    line-height: 18px;
    vertical-align: middle;
    padding-top: 7px;
    height: 33px;
}
#gameday_homeTeam {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
    margin-right: 7px;
    line-height: 18px;
    vertical-align: middle;
    min-width: 80px;
    height: 33px;
    padding-top: 7px;
}
#gameday_homeTeam_flag {
    padding-top: 3px;
}
#gameday_homeTeam_flag img {
    margin-right: 7px;
    height: 25px; width: 25px;
}
#gameday_homeTeam_score {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-right: 7px;
    vertical-align: middle;
    height: 33px;
    padding-top: 7px;
}
#hyphen {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-right: 7px;
    vertical-align: middle;
    height: 33px;
    padding-top: 7px;
}
#gameday_awayTeam_score {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-right: 7px;
    vertical-align: middle;
    height: 33px;
    padding-top: 7px;
}
#gameday_awayTeam_flag {
    padding-top: 3px;
}
#gameday_awayTeam_flag img {
    vertical-align: middle;
    margin-right: 7px;
    height: 25px; width: 25px;
}

#gameday_awayTeam {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-right: 7px;
    line-height: 18px;
    vertical-align: middle;
    height: 33px;
    padding-top: 7px;
    min-width: 80px;
}
#gameday_stadium {
    vertical-align: bottom;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    clear: both;
    margin-bottom: 3px;
    height: 20px;
}
