@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.topmenu {
    -webkit-box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);
    height: 65px;
    width: 100%;
    background: #fff;
    z-index: 5;

}

#map_background {
    height:100vh;
    width:100%; position: absolute;
    top:0;
    z-index: -2;
}

.logo {
    padding: 5px 5px 5px 5px;
}

.container {
    background-color: #ffffff;
    height: 100%
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    position: relative;
}

nav li {
    display: inline-block;
    width: min-content;
    margin-left: 25px;
}

nav li img {
    position: relative;
}

#main_link {
    position: relative;
    top: 0;
    color: #2e7f9d;
    padding: 0 0 0 0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

#main_link:hover {
    top: 3px;
    color: black;
}

nav li:hover {
    text-decoration: none;
    color: #2e7f9d;
}

/* --------------- STADIUM ----------------- */
/* ----------------------------------------- */
#sub_item_stadium {
    border-bottom: solid #c9d466 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_stadium {
    position: absolute;
    top: 55px;
    left: 0;
    visibility: hidden;
    font-size: 10px;
    opacity: 0;
    background-color: #ffffff;
    width: 375px;
    height: 825px;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #c9d466 3px;
}

nav li:hover .menu_sub_stadium {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_stadium li {
    display: block;
    width: 375px;
    margin-left: 0;
    margin-top: 0;
}

#stadium {
    padding-bottom: 7px;
}

#stadium a{
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#stadium a:hover {
    color: green;
}

.stadium_link {
    padding-top: 10px;
    padding-left: 10px;
    background: white;
    width: inherit;
    height: 60px;
    cursor: pointer;
    transition: padding-left 0.3s ease-in-out;
}

.stadium_link:hover {
    padding-left: 15px;
}

.stadium_link a {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.stadium_link p:nth-child(1)
{
    float: left;
    padding-right: 15px
}

.stadium_link p:nth-child(2) {
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #515151;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.stadium_link p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #515151;
    padding-bottom: 5px;
}

.stadium_link p:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #515151;
}
/* --------------------------------------- */

/* --------------- GROUP ----------------- */
/* --------------------------------------- */

#sub_item_groups {
    border-bottom: solid #e58d37 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_groups {
    position: absolute;
    top: 55px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    width: 375px;
    height: 600px;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #e58d37 3px;
}

nav li:hover .menu_sub_groups {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_groups li {
    display: block;
    width: 375px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

#group a{
    color: #ff0000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.group_link {
    background: #CCCCCC;
    width: 375px;
    height: 15px;
}

/* --------------- TEAMS ----------------- */
/* --------------------------------------- */

#sub_item_teams {
    border-bottom: solid #c34c26 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_teams {
    position: absolute;
    top: 55px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    width: 375px;
    height: 600px;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #c34c26 3px;
}

nav li:hover .menu_sub_teams {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_teams li {
    display: block;
    width: 375px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

#team a{
    color: #ff0000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.team_link {
    background: #CCCCCC;
    width: 375px;
    height: 15px;
}

/* --------------- GAMES ----------------- */
/* --------------------------------------- */

#sub_item_games {
    border-bottom: solid #4cb4e7 7px;
    width: auto;
    padding-bottom: 3px;
    margin-top: 10px;
}

.menu_sub_games {
    position: absolute;
    top: 55px;
    left: 0;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    width: 100%;
    height: 300px;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-bottom: solid #4cb4e7 3px;
}

nav li:hover .menu_sub_games {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

.menu_sub_games li {
    display: block;
    width: 375px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

#game a{
    color: #ff0000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.game_link {
    background: #cccccc;
    width: 375px;
    height: 15px;
}
